In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /home/nasrin/my_env/lib/python3.12/site-packages (1.7.4.2)
Requirement already satisfied: bleach in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (3.4.1)
Requirement already satisfied: idna in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (5.29.4)
Requirement already satisfied: python-dateutil>=2.5.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (78.1.0)
Requirement already satisfied: six>=1.10 in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (2.3.0)
Requirement already satisfied: webencodings in /home/nasrin/my_env/lib/python3.12/site-packages (from kaggle) (0.5.1)

In [2]:
!pip install dlt[duckdb]

Requirement already satisfied: dlt[duckdb] in /home/nasrin/my_env/lib/python3.12/site-packages (1.9.0)
Requirement already satisfied: PyYAML>=5.4.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (6.0.2)
Requirement already satisfied: click>=7.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (8.1.8)
Requirement already satisfied: duckdb>=0.9 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (1.2.1)
Requirement already satisfied: fsspec>=2022.4.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (2025.3.0)
Requirement already satisfied: gitpython>=3.1.29 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (3.1.44)
Requirement already satisfied: giturlparse>=0.10.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (1.3.0)
Requirement already satisfied: humanize>=4.4.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (4.12.2)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (1.7.0)
Requirement already satisfied: makefun>=1.15.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (1.15.6)
Requirement already satisfied: orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (3.10.16)
Requirement already satisfied: packaging>=21.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (24.2)
Requirement already satisfied: pathvalidate>=2.5.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (3.2.3)
Requirement already satisfied: pendulum>=2.1.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pluggy>=1.3.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (1.5.0)
Requirement already satisfied: pytz>=2022.6 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (2025.2)
Requirement already satisfied: requests>=2.26.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (2.32.3)
Requirement already satisfied: requirements-parser>=0.5.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (0.11.0)
Requirement already satisfied: rich-argparse<2.0.0,>=1.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (1.7.0)
Requirement already satisfied: semver>=3.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (3.0.4)
Requirement already satisfied: setuptools>=65.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (78.1.0)
Requirement already satisfied: simplejson>=3.17.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (3.20.1)
Requirement already satisfied: sqlglot>=23.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (26.12.0)
Requirement already satisfied: tenacity>=8.0.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (9.0.0)
Requirement already satisfied: tomlkit>=0.11.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (0.13.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (4.13.0)
Requirement already satisfied: tzdata>=2022.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[duckdb]) (2025.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.12)
Requirement already satisfied: ply in /home/nasrin/my_env/lib/python3.12/site-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: python-dateutil>=2.6 in /home/nasrin/my_env/lib/python3.12/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.9.0.post0)
Requirement already satisfied: time-machine>=2.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[duckdb]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[duckdb]) (2025.1.31)
Requirement already satisfied: types-setuptools>=69.1.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (77.0.2.20250328)
Requirement already satisfied: rich>=11.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (13.9.4)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.2)
Requirement already satisfied: six>=1.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from python-dateutil>=2.6->pendulum>=2.1.2->dlt[duckdb]) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (0.1.2)

In [3]:
!pip install --upgrade pyarrow

Requirement already satisfied: pyarrow in /home/nasrin/my_env/lib/python3.12/site-packages (17.0.0)
Collecting pyarrow
  Using cached pyarrow-19.0.1-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Using cached pyarrow-19.0.1-cp312-cp312-manylinux_2_28_x86_64.whl (42.1 MB)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 17.0.0
    Uninstalling pyarrow-17.0.0:
      Successfully uninstalled pyarrow-17.0.0
Successfully installed pyarrow-19.0.1

In [4]:
!pip install dlt[bigquery]

Requirement already satisfied: dlt[bigquery] in /home/nasrin/my_env/lib/python3.12/site-packages (1.9.0)
Requirement already satisfied: PyYAML>=5.4.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (6.0.2)
Requirement already satisfied: click>=7.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (8.1.8)
Requirement already satisfied: db-dtypes>=1.2.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (1.4.2)
Requirement already satisfied: fsspec>=2022.4.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (2025.3.0)
Requirement already satisfied: gcsfs>=2022.4.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (2025.3.0)
Requirement already satisfied: gitpython>=3.1.29 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (3.1.44)
Requirement already satisfied: giturlparse>=0.10.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (0.12.0)
Requirement already satisfied: google-cloud-bigquery>=2.26.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (3.31.0)
Requirement already satisfied: grpcio>=1.50.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (1.71.0)
Requirement already satisfied: hexbytes>=0.2.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (1.3.0)
Requirement already satisfied: humanize>=4.4.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (4.12.2)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (1.7.0)
Requirement already satisfied: makefun>=1.15.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (1.15.6)
Requirement already satisfied: orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (3.10.16)
Requirement already satisfied: packaging>=21.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (24.2)
Requirement already satisfied: pathvalidate>=2.5.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (3.2.3)
Requirement already satisfied: pendulum>=2.1.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (3.0.0)
Requirement already satisfied: pluggy>=1.3.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (1.5.0)
Collecting pyarrow<18,>=12.0.0 (from dlt[bigquery])
  Using cached pyarrow-17.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Requirement already satisfied: pytz>=2022.6 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (2025.2)
Requirement already satisfied: requests>=2.26.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (2.32.3)
Requirement already satisfied: requirements-parser>=0.5.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (0.11.0)
Requirement already satisfied: rich-argparse<2.0.0,>=1.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (1.7.0)
Requirement already satisfied: semver>=3.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (3.0.4)
Requirement already satisfied: setuptools>=65.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (78.1.0)
Requirement already satisfied: simplejson>=3.17.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (3.20.1)
Requirement already satisfied: sqlglot>=23.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (26.12.0)
Requirement already satisfied: tenacity>=8.0.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (9.0.0)
Requirement already satisfied: tomlkit>=0.11.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (0.13.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (4.13.0)
Requirement already satisfied: tzdata>=2022.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt[bigquery]) (2025.2)
Requirement already satisfied: pandas>=0.24.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from db-dtypes>=1.2.0->dlt[bigquery]) (2.2.3)
Requirement already satisfied: numpy>=1.16.6 in /home/nasrin/my_env/lib/python3.12/site-packages (from db-dtypes>=1.2.0->dlt[bigquery]) (2.2.4)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /home/nasrin/my_env/lib/python3.12/site-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (3.11.14)
Requirement already satisfied: decorator>4.1.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (5.2.1)
Requirement already satisfied: google-auth>=1.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (2.38.0)
Requirement already satisfied: google-auth-oauthlib in /home/nasrin/my_env/lib/python3.12/site-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (1.2.1)
Requirement already satisfied: google-cloud-storage in /home/nasrin/my_env/lib/python3.12/site-packages (from gcsfs>=2022.4.0->dlt[bigquery]) (3.1.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from gitpython>=3.1.29->dlt[bigquery]) (4.0.12)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.24.2)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.7.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery>=2.26.0->dlt[bigquery]) (2.9.0.post0)
Requirement already satisfied: ply in /home/nasrin/my_env/lib/python3.12/site-packages (from jsonpath-ng>=1.5.3->dlt[bigquery]) (3.11)
Requirement already satisfied: time-machine>=2.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from pendulum>=2.1.2->dlt[bigquery]) (2.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[bigquery]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[bigquery]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[bigquery]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt[bigquery]) (2025.1.31)
Requirement already satisfied: types-setuptools>=69.1.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from requirements-parser>=0.5.0->dlt[bigquery]) (77.0.2.20250328)
Requirement already satisfied: rich>=11.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (13.9.4)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (6.2.0)
Requirement already satisfied: propcache>=0.2.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs>=2022.4.0->dlt[bigquery]) (1.18.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[bigquery]) (5.0.2)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.69.2)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (5.29.4)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.26.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.71.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.7.1)
Requirement already satisfied: six>=1.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery>=2.26.0->dlt[bigquery]) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (2.19.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth-oauthlib->gcsfs>=2022.4.0->dlt[bigquery]) (2.0.0)
Requirement already satisfied: mdurl~=0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[bigquery]) (0.1.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs>=2022.4.0->dlt[bigquery]) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs>=2022.4.0->dlt[bigquery]) (3.2.2)
Using cached pyarrow-17.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (39.9 MB)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 19.0.1
    Uninstalling pyarrow-19.0.1:
      Successfully uninstalled pyarrow-19.0.1
Successfully installed pyarrow-17.0.0

In [5]:
import kaggle,pandas as pd,dlt

In [6]:
kaggle.api.authenticate()

In [7]:
kaggle.api.dataset_download_files("shubhambathwal/flight-price-prediction",path='./data',unzip=True)

Dataset URL: https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction

In [8]:
df = kaggle.api.dataset_list_files("shubhambathwal/flight-price-prediction").files
print(kaggle.api.dataset_list_files("shubhambathwal/flight-price-prediction").files)

[{"ref": "", "datasetRef": "", "ownerRef": "", "name": "Clean_Dataset.csv", "creationDate": "2022-02-25T17:58:21.640Z", "description": "", "fileType": "", "url": "", "totalBytes": 24683279, "columns": []}, {"ref": "", "datasetRef": "", "ownerRef": "", "name": "business.csv", "creationDate": "2022-02-25T17:58:21.161Z", "description": "", "fileType": "", "url": "", "totalBytes": 9868748, "columns": []}, {"ref": "", "datasetRef": "", "ownerRef": "", "name": "economy.csv", "creationDate": "2022-02-25T17:58:21.551Z", "description": "", "fileType": "", "url": "", "totalBytes": 21096149, "columns": []}]

In [9]:
df[:5]

[{"ref": "", "datasetRef": "", "ownerRef": "", "name": "Clean_Dataset.csv", "creationDate": "2022-02-25T17:58:21.640Z", "description": "", "fileType": "", "url": "", "totalBytes": 24683279, "columns": []},
 {"ref": "", "datasetRef": "", "ownerRef": "", "name": "business.csv", "creationDate": "2022-02-25T17:58:21.161Z", "description": "", "fileType": "", "url": "", "totalBytes": 9868748, "columns": []},
 {"ref": "", "datasetRef": "", "ownerRef": "", "name": "economy.csv", "creationDate": "2022-02-25T17:58:21.551Z", "description": "", "fileType": "", "url": "", "totalBytes": 21096149, "columns": []}]

In [10]:
CleanData = pd.read_csv('./data/Clean_Dataset.csv')
BusinessData = pd.read_csv('./data/business.csv')
EconomyData= pd.read_csv('./data/economy.csv')

In [11]:
CleanData.info()
print(CleanData)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB
        Unnamed: 0   airline   flight source_city departure_time stops  \
0                0  SpiceJet  SG-8709       Delhi        Evening  zero
1                1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2                2   AirAsia   I5-764       Delhi  Early_Morning  zero
3                3   Vistara   UK-995       Delhi        Morning  zero
4                4   Vistara   UK-963       Delhi        Morning  zero
...            ...       ...      ...         ...            ...   ...
300148      300148   Vistara   UK-822     Chennai        Morning   one
300149      300149   Vistara   UK-826     Chennai      Afternoon   one
300150      300150   Vistara   UK-832     Chennai  Early_Morning   one
300151      300151   Vistara   UK-828     Chennai  Early_Morning   one
300152      300152   Vistara   UK-822     Chennai        Morning   one

         arrival_time destination_city     class  duration  days_left  price
0               Night           Mumbai   Economy      2.17          1   5953
1             Morning           Mumbai   Economy      2.33          1   5953
2       Early_Morning           Mumbai   Economy      2.17          1   5956
3           Afternoon           Mumbai   Economy      2.25          1   5955
4             Morning           Mumbai   Economy      2.33          1   5955
...               ...              ...       ...       ...        ...    ...
300148        Evening        Hyderabad  Business     10.08         49  69265
300149          Night        Hyderabad  Business     10.42         49  77105
300150          Night        Hyderabad  Business     13.83         49  79099
300151        Evening        Hyderabad  Business     10.00         49  81585
300152        Evening        Hyderabad  Business     10.08         49  81585

[300153 rows x 12 columns]

BusinessData.info()

In [12]:
BusinessData.head(10)
BusinessData= pd.DataFrame(BusinessData)
BusinessData['stop']= BusinessData['stop'].str.replace(r'\n.*','',regex=True)

In [13]:
BusinessData['date']=pd.to_datetime(BusinessData['date'], format="%d-%m-%Y", dayfirst=True)

In [14]:
print(BusinessData)

            date    airline ch_code  num_code dep_time     from time_taken  \
0     2022-02-11  Air India      AI       868    18:00    Delhi    02h 00m
1     2022-02-11  Air India      AI       624    19:00    Delhi    02h 15m
2     2022-02-11  Air India      AI       531    20:00    Delhi    24h 45m
3     2022-02-11  Air India      AI       839    21:25    Delhi    26h 30m
4     2022-02-11  Air India      AI       544    17:15    Delhi    06h 40m
...          ...        ...     ...       ...      ...      ...        ...
93482 2022-03-31    Vistara      UK       822    09:45  Chennai    10h 05m
93483 2022-03-31    Vistara      UK       826    12:30  Chennai    10h 25m
93484 2022-03-31    Vistara      UK       832    07:05  Chennai    13h 50m
93485 2022-03-31    Vistara      UK       828    07:00  Chennai    10h 00m
93486 2022-03-31    Vistara      UK       822    09:45  Chennai    10h 05m

            stop arr_time         to   price
0      non-stop     20:00     Mumbai  25,612
1      non-stop     21:15     Mumbai  25,612
2         1-stop    20:45     Mumbai  42,220
3         1-stop    23:55     Mumbai  44,450
4         1-stop    23:55     Mumbai  46,690
...          ...      ...        ...     ...
93482     1-stop    19:50  Hyderabad  69,265
93483     1-stop    22:55  Hyderabad  77,105
93484     1-stop    20:55  Hyderabad  79,099
93485     1-stop    17:00  Hyderabad  81,585
93486     1-stop    19:50  Hyderabad  81,585

[93487 rows x 11 columns]

In [15]:
print(EconomyData['time_taken'].unique())

['02h 10m' '02h 20m' '02h 15m' '02h 05m' '12h 15m' '16h 20m' '11h 45m'
 '14h 30m' '15h 40m' '03h 45m' '02h 30m' '05h 50m' '08h 00m' '06h 00m'
 '14h 40m' '16h 10m' '18h 00m' '23h 10m' '24h 10m' '08h 50m' '04h 30m'
 '15h 15m' '11h 00m' '19h 05m' '22h 50m' '26h 25m' '17h 45m' '19h 35m'
 '26h 40m' '15h 10m' '20h 50m' '11h 25m' '22h 15m' '26h 00m' '21h 45m'
 '03h 50m' '04h 25m' '07h 40m' '08h 20m' '10h 25m' '23h 45m' '19h 30m'
 '06h 30m' '12h 25m' '21h 05m' '28h 10m' '28h 15m' '09h 15m' '17h 55m'
 '07h 05m' '13h 50m' '07h 35m' '15h 50m' '24h 25m' '04h 10m' '04h 15m'
 '05h 05m' '29h 20m' '17h 00m' '27h 10m' '24h 45m' '05h 45m' '12h 45m'
 '13h 45m' '17h 50m' '05h 30m' '23h 50m' '05h 00m' '26h 30m' '12h 50m'
 '08h 55m' '11h 10m' '12h 10m' '15h 35m' '15h 45m' '07h 55m' '13h 15m'
 '16h 00m' '22h 45m' '06h 20m' '07h 15m' '30h 05m' '18h 15m' '06h 05m'
 '02h 00m' '12h 20m' '03h 30m' '10h 15m' '14h 10m' '25h 35m' '04h 05m'
 '09h 45m' '06h 40m' '09h 40m' '10h 05m' '12h 35m' '07h 00m' '08h 15m'
 '15h 30m' '10h 10m' '23h 30m' '25h 45m' '11h 30m' '21h 25m' '14h 15m'
 '07h 45m' '05h 20m' '05h 40m' '04h 45m' '19h 20m' '06h 15m' '10h 20m'
 '09h 05m' '15h 25m' '04h 50m' '25h 50m' '07h 30m' '27h 35m' '28h 25m'
 '06h 25m' '24h 35m' '16h 30m' '11h 20m' '24h 50m' '14h 55m' '26h 05m'
 '05h 25m' '28h 30m' '27h 20m' '08h 40m' '20h 25m' '20h 05m' '05h 55m'
 '20h 35m' '26h 10m' '17h 30m' '18h 20m' '21h 50m' '26h 50m' '13h 25m'
 '19h 15m' '23h 35m' '23h 55m' '12h 05m' '14h 25m' '25h 55m' '18h 35m'
 '13h 05m' '04h 35m' '21h 35m' '10h 30m' '11h 40m' '08h 35m' '24h 40m'
 '14h 45m' '17h 10m' '07h 20m' '09h 10m' '11h 35m' '23h 05m' '25h 15m'
 '21h 15m' '08h 25m' '10h 55m' '14h 00m' '04h 55m' '25h 05m' '12h 40m'
 '28h 05m' '21h 20m' '14h 20m' '14h 50m' '15h 20m' '15h 55m' '09h 30m'
 '27h 45m' '24h 55m' '22h 35m' '06h 35m' '09h 20m' '13h 00m' '13h 35m'
 '11h 05m' '05h 35m' '15h 00m' '06h 45m' '09h 50m' '11h 15m' '11h 50m'
 '09h 35m' '08h 30m' '14h 05m' '10h 35m' '22h 10m' '22h 05m' '08h 45m'
 '15h 05m' '25h 30m' '16h 25m' '18h 55m' '02h 25m' '03h 55m' '24h 30m'
 '23h 00m' '10h 00m' '19h 00m' '16h 35m' '07h 50m' '03h 10m' '16h 15m'
 '24h 05m' '04h 40m' '06h 55m' '13h 40m' '25h 00m' '08h 05m' '17h 05m'
 '07h 25m' '22h 30m' '12h 55m' '06h 10m' '23h 40m' '05h 10m' '13h 20m'
 '17h 15m' '25h 25m' '29h 10m' '09h 00m' '09h 25m' '08h 10m' '26h 35m'
 '22h 20m' '12h 30m' '21h 00m' '24h 15m' '27h 30m' '18h 10m' '16h 40m'
 '02h 50m' '02h 45m' '02h 55m' '03h 00m' '07h 10m' '25h 40m' '02h 40m'
 '10h 50m' '18h 30m' '21h 10m' '23h 20m' '24h 00m' '17h 20m' '27h 25m'
 '26h 15m' '04h 20m' '09h 55m' '19h 40m' '26h 20m' '16h 55m' '25h 20m'
 '27h 15m' '27h 55m' '27h 00m' '12h 00m' '10h 40m' '28h 00m' '21h 40m'
 '21h 55m' '13h 55m' '13h 30m' '02h 35m' '22h 25m' '24h 20m' '18h 05m'
 '29h 35m' '29h 40m' '31h 15m' '33h 10m' '36h 55m' '20h 15m' '22h 55m'
 '06h 50m' '05h 15m' '20h 40m' '17h 35m' '19h 10m' '17h 25m' '11h 55m'
 '31h 30m' '19h 50m' '27h 05m' '26h 55m' '21h 30m' '06h 04m' '16h 50m'
 '20h 30m' '18h 40m' '10h 45m' '18h 25m' '28h 35m' '19h 55m' '20h 00m'
 '22h 00m' '29h 50m' '19h 25m' '25h 10m' '03h 05m' '18h 45m' '27h 50m'
 '20h 10m' '20h 20m' '20h 45m' '28h 40m' '35h 50m' '34h 50m' '23h 15m'
 '26h 45m' '19h 45m' '27h 40m' '16h 05m' '30h 15m' '28h 45m' '30h 35m'
 '18h 50m' '13h 10m' '30h 30m' '29h 30m' '28h 50m' '30h 40m' '17h 40m'
 '14h 35m' '29h 00m' '28h 20m' '39h 40m' '16h 45m' '01h 55m' '37h 25m'
 '36h 25m' '23h 25m' '22h 40m' '33h 45m' '30h 50m' '28h 55m' '01h 50m'
 '03h 40m' '04h 00m' '01h 35m' '01h 40m' '01h 45m' '20h 55m' '33h 30m'
 '30h 20m' '35h 15m' '31h 50m' '40h 00m' '31h 40m' '32h 05m' '36h 10m'
 '30h 45m' '33h 50m' '34h 30m' '31h 05m' '30h 10m' '36h 05m' '33h 20m'
 '37h 00m' '34h 05m' '37h 05m' '01h 25m' '01h 20m' '01h 30m' '37h 50m'
 '29h 15m' '34h 15m' '36h 50m' '03h 25m' '31h 35m' '33h 35m' '34h 35m'
 '7h 20m' '32h 10m' '01h 10m' '35h 10m' '37h 40m' '37h 15m' '39h 45m'
 '31h 00m' '37h 45m' '33h 15m' '31h 10m' '29h 55m' '31h 55m' '41h 35m'
 '37h 10m' '32h 00m' '35h 30m' '39h 00m' '31h 25m' '34h 20m' '38h 35m'
 '1.03h m' '33h 40m' '03h 20m' '03h 35m' '34h 10m' '37h 20m' '35h 25m'
 '30h 00m' '33h 05m' '38h 50m' '32h 40m' '29h 25m' '35h 05m' '32h 30m'
 '29h 45m' '1.02h m' '01h 05m' '2h 25m' '01h 00m' '32h 25m' '01h 15m'
 '34h 55m' '35h 45m' '31h 45m' '33h 00m' '34h 45m' '36h 35m' '41h 50m'
 '36h 30m' '33h 25m' '36h 15m' '40h 40m' '00h 55m' '37h 35m' '00h 50m'
 '40h 45m' '47h 45m' '36h 00m' '40h 25m' '33h 55m' '30h 25m' '40h 30m'
 '29h 05m' '38h 30m' '34h 40m' '06h 59m' '30h 55m' '35h 35m' '03h 15m'
 '39h 50m' '37h 55m' '1.01h m' '37h 30m' '39h 05m' '38h 45m' '2h 50m'
 '34h 25m' '40h 55m' '5h 30m' '13h 24m' '31h 20m' '42h 00m' '32h 45m'
 '32h 20m' '32h 50m' '35h 55m' '32h 15m' '38h 40m' '38h 20m' '39h 15m'
 '41h 05m' '32h 55m' '36h 45m' '35h 40m' '35h 20m' '49h 50m' '34h 00m'
 '47h 05m' '45h 50m' '39h 25m' '39h 55m' '32h 35m' '44h 30m' '41h 30m']

In [16]:
BusinessData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93487 entries, 0 to 93486
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        93487 non-null  datetime64[ns]
 1   airline     93487 non-null  object
 2   ch_code     93487 non-null  object
 3   num_code    93487 non-null  int64
 4   dep_time    93487 non-null  object
 5   from        93487 non-null  object
 6   time_taken  93487 non-null  object
 7   stop        93487 non-null  object
 8   arr_time    93487 non-null  object
 9   to          93487 non-null  object
 10  price       93487 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 7.8+ MB

In [17]:
EconomyData.head(10)
EconomyData= pd.DataFrame(EconomyData)
EconomyData['stop']= EconomyData['stop'].str.replace(r'\n.*','',regex=True)
EconomyData['date']=pd.to_datetime(EconomyData['date'], format="%d-%m-%Y", dayfirst=True)
print(EconomyData)

             date   airline ch_code  num_code dep_time     from time_taken  \
0      2022-02-11  SpiceJet      SG      8709    18:55    Delhi    02h 10m
1      2022-02-11  SpiceJet      SG      8157    06:20    Delhi    02h 20m
2      2022-02-11   AirAsia      I5       764    04:25    Delhi    02h 10m
3      2022-02-11   Vistara      UK       995    10:20    Delhi    02h 15m
4      2022-02-11   Vistara      UK       963    08:50    Delhi    02h 20m
...           ...       ...     ...       ...      ...      ...        ...
206769 2022-03-31   Vistara      UK       832    07:05  Chennai    13h 50m
206770 2022-03-31   Vistara      UK       832    07:05  Chennai    13h 50m
206771 2022-03-31   Vistara      UK       826    12:30  Chennai    20h 35m
206772 2022-03-31   Vistara      UK       822    09:45  Chennai    23h 20m
206773 2022-03-31   Vistara      UK       824    20:30  Chennai    24h 25m

             stop arr_time         to  price
0       non-stop     21:05     Mumbai  5,953
1       non-stop     08:40     Mumbai  5,953
2       non-stop     06:35     Mumbai  5,956
3       non-stop     12:35     Mumbai  5,955
4       non-stop     11:10     Mumbai  5,955
...           ...      ...        ...    ...
206769     1-stop    20:55  Hyderabad  7,697
206770     1-stop    20:55  Hyderabad  7,709
206771     1-stop    09:05  Hyderabad  8,640
206772     1-stop    09:05  Hyderabad  8,640
206773     1-stop    20:55  Hyderabad  8,640

[206774 rows x 11 columns]

In [18]:
def convert_time_to_hours(time_str):
   
    if not isinstance(time_str,str) or time_str.strip()=='':
        return None
    hours=0
    minutes =0
    if 'h' in time_str:
        try:
            hours = float(time_str.split('h')[0].strip())
        except ValueError:
            hours = 0 
        
    if 'm' in time_str:
        try:
            minutes_part = time_str.split('h')[-1].replace('m', '').strip()
            if minutes_part:
                minutes = int(minutes_part)
        except ValueError:
            minutes = 0 
    return round(hours + (minutes / 60), 2)

# ***********
EconomyData['time_taken']= EconomyData['time_taken'].apply(convert_time_to_hours)
print(EconomyData)

             date   airline ch_code  num_code dep_time     from  time_taken  \
0      2022-02-11  SpiceJet      SG      8709    18:55    Delhi        2.17
1      2022-02-11  SpiceJet      SG      8157    06:20    Delhi        2.33
2      2022-02-11   AirAsia      I5       764    04:25    Delhi        2.17
3      2022-02-11   Vistara      UK       995    10:20    Delhi        2.25
4      2022-02-11   Vistara      UK       963    08:50    Delhi        2.33
...           ...       ...     ...       ...      ...      ...         ...
206769 2022-03-31   Vistara      UK       832    07:05  Chennai       13.83
206770 2022-03-31   Vistara      UK       832    07:05  Chennai       13.83
206771 2022-03-31   Vistara      UK       826    12:30  Chennai       20.58
206772 2022-03-31   Vistara      UK       822    09:45  Chennai       23.33
206773 2022-03-31   Vistara      UK       824    20:30  Chennai       24.42

             stop arr_time         to  price
0       non-stop     21:05     Mumbai  5,953
1       non-stop     08:40     Mumbai  5,953
2       non-stop     06:35     Mumbai  5,956
3       non-stop     12:35     Mumbai  5,955
4       non-stop     11:10     Mumbai  5,955
...           ...      ...        ...    ...
206769     1-stop    20:55  Hyderabad  7,697
206770     1-stop    20:55  Hyderabad  7,709
206771     1-stop    09:05  Hyderabad  8,640
206772     1-stop    09:05  Hyderabad  8,640
206773     1-stop    20:55  Hyderabad  8,640

[206774 rows x 11 columns]

In [19]:
BusinessData['time_taken']= BusinessData['time_taken'].apply(convert_time_to_hours)
print(BusinessData)

            date    airline ch_code  num_code dep_time     from  time_taken  \
0     2022-02-11  Air India      AI       868    18:00    Delhi        2.00
1     2022-02-11  Air India      AI       624    19:00    Delhi        2.25
2     2022-02-11  Air India      AI       531    20:00    Delhi       24.75
3     2022-02-11  Air India      AI       839    21:25    Delhi       26.50
4     2022-02-11  Air India      AI       544    17:15    Delhi        6.67
...          ...        ...     ...       ...      ...      ...         ...
93482 2022-03-31    Vistara      UK       822    09:45  Chennai       10.08
93483 2022-03-31    Vistara      UK       826    12:30  Chennai       10.42
93484 2022-03-31    Vistara      UK       832    07:05  Chennai       13.83
93485 2022-03-31    Vistara      UK       828    07:00  Chennai       10.00
93486 2022-03-31    Vistara      UK       822    09:45  Chennai       10.08

            stop arr_time         to   price
0      non-stop     20:00     Mumbai  25,612
1      non-stop     21:15     Mumbai  25,612
2         1-stop    20:45     Mumbai  42,220
3         1-stop    23:55     Mumbai  44,450
4         1-stop    23:55     Mumbai  46,690
...          ...      ...        ...     ...
93482     1-stop    19:50  Hyderabad  69,265
93483     1-stop    22:55  Hyderabad  77,105
93484     1-stop    20:55  Hyderabad  79,099
93485     1-stop    17:00  Hyderabad  81,585
93486     1-stop    19:50  Hyderabad  81,585

[93487 rows x 11 columns]

In [20]:
def convert_stop(stop_str):
    if pd.isna(stop_str) or not isinstance(stop_str, str) or stop_str.strip() == '':
        return None
    stop_str = str(stop_str).strip().lower() 
    if 'non' in stop_str:
        return 0
    try:
       return int(stop_str.split('-')[0].strip())
         
    except ValueError:
        return None

# **********

In [21]:
EconomyData['price']= EconomyData['price'].astype(str).replace(',','',regex=True).str.extract('(\d+\.?\d*)')[0].astype(float)
EconomyData['stop']= EconomyData['stop'].apply(convert_stop).astype('Int64')
print(EconomyData)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipykernel_380056/916015671.py:1: SyntaxWarning: invalid escape sequence '\d'
  EconomyData['price']= EconomyData['price'].astype(str).replace(',','',regex=True).str.extract('(\d+\.?\d*)')[0].astype(float)

             date   airline ch_code  num_code dep_time     from  time_taken  \
0      2022-02-11  SpiceJet      SG      8709    18:55    Delhi        2.17
1      2022-02-11  SpiceJet      SG      8157    06:20    Delhi        2.33
2      2022-02-11   AirAsia      I5       764    04:25    Delhi        2.17
3      2022-02-11   Vistara      UK       995    10:20    Delhi        2.25
4      2022-02-11   Vistara      UK       963    08:50    Delhi        2.33
...           ...       ...     ...       ...      ...      ...         ...
206769 2022-03-31   Vistara      UK       832    07:05  Chennai       13.83
206770 2022-03-31   Vistara      UK       832    07:05  Chennai       13.83
206771 2022-03-31   Vistara      UK       826    12:30  Chennai       20.58
206772 2022-03-31   Vistara      UK       822    09:45  Chennai       23.33
206773 2022-03-31   Vistara      UK       824    20:30  Chennai       24.42

        stop arr_time         to   price
0          0    21:05     Mumbai  5953.0
1          0    08:40     Mumbai  5953.0
2          0    06:35     Mumbai  5956.0
3          0    12:35     Mumbai  5955.0
4          0    11:10     Mumbai  5955.0
...      ...      ...        ...     ...
206769     1    20:55  Hyderabad  7697.0
206770     1    20:55  Hyderabad  7709.0
206771     1    09:05  Hyderabad  8640.0
206772     1    09:05  Hyderabad  8640.0
206773     1    20:55  Hyderabad  8640.0

[206774 rows x 11 columns]

In [22]:
BusinessData['price']= BusinessData['price'].astype(str).replace(',','',regex=True).str.extract('(\d+\.?\d*)')[0].astype(float)
BusinessData['stop']= BusinessData['stop'].apply(convert_stop).astype('Int64') ## Int64 support None value

print(BusinessData)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipykernel_380056/396972601.py:1: SyntaxWarning: invalid escape sequence '\d'
  BusinessData['price']= BusinessData['price'].astype(str).replace(',','',regex=True).str.extract('(\d+\.?\d*)')[0].astype(float)

            date    airline ch_code  num_code dep_time     from  time_taken  \
0     2022-02-11  Air India      AI       868    18:00    Delhi        2.00
1     2022-02-11  Air India      AI       624    19:00    Delhi        2.25
2     2022-02-11  Air India      AI       531    20:00    Delhi       24.75
3     2022-02-11  Air India      AI       839    21:25    Delhi       26.50
4     2022-02-11  Air India      AI       544    17:15    Delhi        6.67
...          ...        ...     ...       ...      ...      ...         ...
93482 2022-03-31    Vistara      UK       822    09:45  Chennai       10.08
93483 2022-03-31    Vistara      UK       826    12:30  Chennai       10.42
93484 2022-03-31    Vistara      UK       832    07:05  Chennai       13.83
93485 2022-03-31    Vistara      UK       828    07:00  Chennai       10.00
93486 2022-03-31    Vistara      UK       822    09:45  Chennai       10.08

       stop arr_time         to    price
0         0    20:00     Mumbai  25612.0
1         0    21:15     Mumbai  25612.0
2         1    20:45     Mumbai  42220.0
3         1    23:55     Mumbai  44450.0
4         1    23:55     Mumbai  46690.0
...     ...      ...        ...      ...
93482     1    19:50  Hyderabad  69265.0
93483     1    22:55  Hyderabad  77105.0
93484     1    20:55  Hyderabad  79099.0
93485     1    17:00  Hyderabad  81585.0
93486     1    19:50  Hyderabad  81585.0

[93487 rows x 11 columns]

In [23]:
BusinessData['flight_class'] = 'Business'
EconomyData['flight_class'] = 'Economy'

In [24]:
CleanedData = pd.concat([BusinessData,EconomyData],ignore_index=True)

In [25]:
CleanedData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300261 entries, 0 to 300260
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          300261 non-null  datetime64[ns]
 1   airline       300261 non-null  object
 2   ch_code       300261 non-null  object
 3   num_code      300261 non-null  int64
 4   dep_time      300261 non-null  object
 5   from          300261 non-null  object
 6   time_taken    300261 non-null  float64
 7   stop          286973 non-null  Int64
 8   arr_time      300261 non-null  object
 9   to            300261 non-null  object
 10  price         300261 non-null  float64
 11  flight_class  300261 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 27.8+ MB

In [26]:
CleanedDatam =CleanedData.rename(columns={'from':'source_city','to':'destination_city'}, inplace=True)
CleanedData.columns

Index(['date', 'airline', 'ch_code', 'num_code', 'dep_time', 'source_city',
       'time_taken', 'stop', 'arr_time', 'destination_city', 'price',
       'flight_class'],
      dtype='object')

In [29]:
pipeline = dlt.pipeline(
    pipeline_name = 'flight_price',
    destination = "duckdb",
    dataset_name = "flight_prediction",
    )
info_CD = pipeline.run(CleanedData,table_name="CleanedData", write_disposition="replace")
info_BD = pipeline.run(BusinessData,table_name="BusinessData", write_disposition="replace")
info_ED = pipeline.run(EconomyData,table_name="EconomyData", write_disposition="replace")
# info = pipeline.run([CleanedData,BusinessData,EconomyData],write_disposition="replace")
print(info_CD,info_BD,info_ED)

Pipeline flight_price load step completed in 0.44 seconds
1 load package(s) were loaded to destination duckdb and into dataset flight_prediction
The duckdb destination used duckdb:////home/nasrin/Zoomcamp-2025./project/flight_price.duckdb location to store data
Load package 1743513244.5574107 is LOADED and contains no failed jobs Pipeline flight_price load step completed in 0.40 seconds
1 load package(s) were loaded to destination duckdb and into dataset flight_prediction
The duckdb destination used duckdb:////home/nasrin/Zoomcamp-2025./project/flight_price.duckdb location to store data
Load package 1743513245.302497 is LOADED and contains no failed jobs Pipeline flight_price load step completed in 0.42 seconds
1 load package(s) were loaded to destination duckdb and into dataset flight_prediction
The duckdb destination used duckdb:////home/nasrin/Zoomcamp-2025./project/flight_price.duckdb location to store data
Load package 1743513245.8319108 is LOADED and contains no failed jobs

In [30]:
print(pipeline.last_trace)

Run started at 2025-04-01 13:14:05.817117+00:00 and COMPLETED in 0.60 seconds with 4 steps.
Step extract COMPLETED in 0.14 seconds.

Load package 1743513245.8319108 is EXTRACTED and NOT YET LOADED to the destination and contains no failed jobs

Step normalize COMPLETED in 0.02 seconds.
Normalized data for the following tables:
- economy_data: 206774 row(s)

Load package 1743513245.8319108 is NORMALIZED and NOT YET LOADED to the destination and contains no failed jobs

Step load COMPLETED in 0.43 seconds.
Pipeline flight_price load step completed in 0.42 seconds
1 load package(s) were loaded to destination duckdb and into dataset flight_prediction
The duckdb destination used duckdb:////home/nasrin/Zoomcamp-2025./project/flight_price.duckdb location to store data
Load package 1743513245.8319108 is LOADED and contains no failed jobs

Step run COMPLETED in 0.60 seconds.
Pipeline flight_price load step completed in 0.42 seconds
1 load package(s) were loaded to destination duckdb and into dataset flight_prediction
The duckdb destination used duckdb:////home/nasrin/Zoomcamp-2025./project/flight_price.duckdb location to store data
Load package 1743513245.8319108 is LOADED and contains no failed jobs

In [31]:
pipeline.dataset(dataset_type="default").CleanedData.df()

,date,airline,ch_code,num_code,dep_time,source_city,time_taken,stop,arr_time,destination_city,price,flight_class
0,2022-02-11,Air India,AI,868,18:00,Delhi,2.00,0,20:00,Mumbai,25612.0,Business
1,2022-02-11,Air India,AI,624,19:00,Delhi,2.25,0,21:15,Mumbai,25612.0,Business
2,2022-02-11,Air India,AI,531,20:00,Delhi,24.75,1,20:45,Mumbai,42220.0,Business
3,2022-02-11,Air India,AI,839,21:25,Delhi,26.50,1,23:55,Mumbai,44450.0,Business
4,2022-02-11,Air India,AI,544,17:15,Delhi,6.67,1,23:55,Mumbai,46690.0,Business
...,...,...,...,...,...,...,...,...,...,...,...,...
300256,2022-03-31,Vistara,UK,832,07:05,Chennai,13.83,1,20:55,Hyderabad,7697.0,Economy
300257,2022-03-31,Vistara,UK,832,07:05,Chennai,13.83,1,20:55,Hyderabad,7709.0,Economy
300258,2022-03-31,Vistara,UK,826,12:30,Chennai,20.58,1,09:05,Hyderabad,8640.0,Economy
300259,2022-03-31,Vistara,UK,822,09:45,Chennai,23.33,1,09:05,Hyderabad,8640.0,Economy
300260,2022-03-31,Vistara,UK,824,20:30,Chennai,24.42,1,20:55,Hyderabad,8640.0,Economy

In [32]:
pipeline.dataset(dataset_type="default").BusinessData.df()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price,flight_class
0,2022-02-11 00:00:00,Air India,AI,868,18:00,Delhi,2.0,0,20:00,Mumbai,25612.0,Business
1,2022-02-11 00:00:00,Air India,AI,624,19:00,Delhi,2.25,0,21:15,Mumbai,25612.0,Business
2,2022-02-11 00:00:00,Air India,AI,531,20:00,Delhi,24.75,1,20:45,Mumbai,42220.0,Business
3,2022-02-11 00:00:00,Air India,AI,839,21:25,Delhi,26.5,1,23:55,Mumbai,44450.0,Business
4,2022-02-11 00:00:00,Air India,AI,544,17:15,Delhi,6.67,1,23:55,Mumbai,46690.0,Business
...,...,...,...,...,...,...,...,...,...,...,...,...
93482,2022-03-31 00:00:00,Vistara,UK,822,09:45,Chennai,10.08,1,19:50,Hyderabad,69265.0,Business
93483,2022-03-31 00:00:00,Vistara,UK,826,12:30,Chennai,10.42,1,22:55,Hyderabad,77105.0,Business
93484,2022-03-31 00:00:00,Vistara,UK,832,07:05,Chennai,13.83,1,20:55,Hyderabad,79099.0,Business
93485,2022-03-31 00:00:00,Vistara,UK,828,07:00,Chennai,10.0,1,17:00,Hyderabad,81585.0,Business
93486,2022-03-31 00:00:00,Vistara,UK,822,09:45,Chennai,10.08,1,19:50,Hyderabad,81585.0,Business

In [37]:
pipeline.dataset(dataset_type="default").EconomyData.df()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,2022-02-11 00:00:00,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
1,2022-02-11 00:00:00,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953"
2,2022-02-11 00:00:00,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956"
3,2022-02-11 00:00:00,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
4,2022-02-11 00:00:00,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955"
...,...,...,...,...,...,...,...,...,...,...,...
206769,2022-03-31 00:00:00,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop,20:55,Hyderabad,"7,697"
206770,2022-03-31 00:00:00,Vistara,UK,832,07:05,Chennai,13h 50m,1-stop,20:55,Hyderabad,"7,709"
206771,2022-03-31 00:00:00,Vistara,UK,826,12:30,Chennai,20h 35m,1-stop,09:05,Hyderabad,"8,640"
206772,2022-03-31 00:00:00,Vistara,UK,822,09:45,Chennai,23h 20m,1-stop,09:05,Hyderabad,"8,640"
206773,2022-03-31 00:00:00,Vistara,UK,824,20:30,Chennai,24h 25m,1-stop,20:55,Hyderabad,"8,640"

In [33]:
with pipeline.sql_client() as client:
    res = client.execute_sql(
            """
            SELECT stop FROM business_data WHERE stop==('\n');
            
            """
        )
    print(res)

[]

In [34]:
pipeline = dlt.pipeline(
    pipeline_name = 'flight_price',
    destination = "bigquery",
    dataset_name = "flight_prediction", # <--- to run pipeline in production
    )

2025-04-01 15:14:42,509|[WARNING]|380056|140428028280960|dlt|pipeline.py|_state_to_props:1640|The destination dlt.destinations.duckdb:None in state differs from destination dlt.destinations.bigquery:bigquery in pipeline and will be ignored

In [35]:
!pip install dlt google-cloud-bigquery

Requirement already satisfied: dlt in /home/nasrin/my_env/lib/python3.12/site-packages (1.9.0)
Requirement already satisfied: google-cloud-bigquery in /home/nasrin/my_env/lib/python3.12/site-packages (3.31.0)
Requirement already satisfied: PyYAML>=5.4.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (6.0.2)
Requirement already satisfied: click>=7.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (8.1.8)
Requirement already satisfied: fsspec>=2022.4.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (2025.3.0)
Requirement already satisfied: gitpython>=3.1.29 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (3.1.44)
Requirement already satisfied: giturlparse>=0.10.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (1.3.0)
Requirement already satisfied: humanize>=4.4.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (4.12.2)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (1.7.0)
Requirement already satisfied: makefun>=1.15.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (1.15.6)
Requirement already satisfied: orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (3.10.16)
Requirement already satisfied: packaging>=21.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (24.2)
Requirement already satisfied: pathvalidate>=2.5.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (3.2.3)
Requirement already satisfied: pendulum>=2.1.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (3.0.0)
Requirement already satisfied: pluggy>=1.3.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (1.5.0)
Requirement already satisfied: pytz>=2022.6 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (2025.2)
Requirement already satisfied: requests>=2.26.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (2.32.3)
Requirement already satisfied: requirements-parser>=0.5.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (0.11.0)
Requirement already satisfied: rich-argparse<2.0.0,>=1.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (1.7.0)
Requirement already satisfied: semver>=3.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (3.0.4)
Requirement already satisfied: setuptools>=65.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (78.1.0)
Requirement already satisfied: simplejson>=3.17.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (3.20.1)
Requirement already satisfied: sqlglot>=23.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (26.12.0)
Requirement already satisfied: tenacity>=8.0.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (9.0.0)
Requirement already satisfied: tomlkit>=0.11.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (0.13.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (4.13.0)
Requirement already satisfied: tzdata>=2022.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from dlt) (2025.2)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (2.24.2)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery) (2.38.0)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from gitpython>=3.1.29->dlt) (4.0.12)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.69.2)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (5.29.4)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.26.1)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.71.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.71.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery) (1.7.1)
Requirement already satisfied: ply in /home/nasrin/my_env/lib/python3.12/site-packages (from jsonpath-ng>=1.5.3->dlt) (3.11)
Requirement already satisfied: time-machine>=2.6.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from pendulum>=2.1.2->dlt) (2.16.0)
Requirement already satisfied: six>=1.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests>=2.26.0->dlt) (2025.1.31)
Requirement already satisfied: types-setuptools>=69.1.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from requirements-parser>=0.5.0->dlt) (77.0.2.20250328)
Requirement already satisfied: rich>=11.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich-argparse<2.0.0,>=1.6.0->dlt) (13.9.4)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt) (5.0.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.6.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt) (0.1.2)

In [36]:
!pip install google-cloud-bigquery-storage

Requirement already satisfied: google-cloud-bigquery-storage in /home/nasrin/my_env/lib/python3.12/site-packages (2.30.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (2.24.2)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery-storage) (2.38.0)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery-storage) (1.26.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.20.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-cloud-bigquery-storage) (5.29.4)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (1.69.2)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (2.32.3)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (1.71.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (1.71.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery-storage) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery-storage) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/nasrin/my_env/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery-storage) (4.9)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-cloud-bigquery-storage) (0.6.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/nasrin/my_env/lib/python3.12/site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0,>=1.34.0->google-cloud-bigquery-storage) (2025.1.31)

In [37]:
!export GOOGLE_APPLICATION_CREDENTIALS="./bq_key.json"

In [39]:
pipeline = dlt.pipeline(
    pipeline_name="flight_price",
    destination="bigquery",
    dataset_name="flight_prediction",
    dev_mode=True,
)

infoCD = pipeline.run(CleanedData,table_name="CleanedData", write_disposition="replace")
infoBD = pipeline.run(BusinessData,table_name="BusinessData", write_disposition="replace")
infoED = pipeline.run(EconomyData,table_name="EconomyData", write_disposition="replace")

print(infoCD,infoBD,infoED)

2025-04-01 15:17:52,188|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'cleaned_data'.
2025-04-01 15:17:54,715|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'cleaned_data'.
2025-04-01 15:18:10,488|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'cleaned_data'.
2025-04-01 15:18:10,489|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'business_data'.
2025-04-01 15:18:12,419|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'business_data'.
2025-04-01 15:18:23,825|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'cleaned_data'.
2025-04-01 15:18:23,826|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'business_data'.
2025-04-01 15:18:23,826|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'economy_data'.
2025-04-01 15:18:25,876|[WARNING]|380056|140428028280960|dlt|type_mapping.py|to_db_datetime_type:56|Column flags for timezone or precision are not yet supported in this destination. One or both of these flags were used in column 'date'. in table 'economy_data'.

Pipeline flight_price load step completed in 18.08 seconds
1 load package(s) were loaded to destination bigquery and into dataset flight_prediction_20250401011751
The bigquery destination used None@kestra-sandbox-449808 location to store data
Load package 1743513471.81282 is LOADED and contains no failed jobs Pipeline flight_price load step completed in 13.03 seconds
1 load package(s) were loaded to destination bigquery and into dataset flight_prediction_20250401011751
The bigquery destination used None@kestra-sandbox-449808 location to store data
Load package 1743513490.2915576 is LOADED and contains no failed jobs Pipeline flight_price load step completed in 13.80 seconds
1 load package(s) were loaded to destination bigquery and into dataset flight_prediction_20250401011751
The bigquery destination used None@kestra-sandbox-449808 location to store data
Load package 1743513503.540441 is LOADED and contains no failed jobs